<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-8 offset-2">
    <h3><%= listing.title %></h3>
    <br />
  </div>

  <div class="card col-5 offset-4">
    <!-- <h2><p class="card-text"><%= listing.title %></p></h2>
    <br /> -->

    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />

    <div class="card-body">
      < class="card-text">
        Description: <%= listing.description %><br />
        <span style="color: red; font-weight: 500">Price:</span>
      


          
              ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") :
              "N/A" %>/night
          
          </div>
         
         <br />

        <span style="color: red; font-weight: 500">Location:</span> <%=
        listing.location %><br />
        <span style="color: red; font-weight: 500">Country:</span> <%=
        listing.country %>
      </p>

      <!-- Edit Button with RED BORDER -->
      <a href="/listings/<%= listing._id %>/edit">
        <button
          class="btn bg-red mt-3 mb-4"
          style="border: 2px solid red"
        >
          Edit
        </button>
      </a>

      <!-- Delete Form -->
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=DELETE"
      >
        <button class="btn btn-danger mt-2">Delete the Listing</button>
      </form>
    </div>
  </div>
</div>
